@{
    ViewData["Title"] = "Home";
}

@section Styles
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" />
}

<div class="jumbotron">
    <h1>Laundry Log</h1>
    <p>Simply record your laundry. Engineered professionally by Royndico.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <canvas id="laundryChart"></canvas>
    </div>
    <div class="col-md-6">
        <canvas id="priceChart"></canvas>
    </div>
</div>

@section Scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
    <script>
        var ctx = document.getElementById('laundryChart');
        var laundryChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [
                    "January", "February", "March", "April", "May", "June", "July"
                ],
                datasets: [{
                    label: "Laundry Items",
                    data: [65, 59, 80, 81, 56, 55, 40],
                    fill: false,
                    borderColor: "rgb(75, 192, 192)",
                    lineTension: 0.1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0
                        }
                    }]
                }
            }
        })

        var ctx = document.getElementById('priceChart');
        var laundryChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [
                    "January", "February", "March", "April", "May", "June", "July"
                ],
                datasets: [{
                    label: "Laundry Prices",
                    data: [12000, 15000, 80000, 57000, 56000, 30000, 10000],
                    fill: false,
                    borderColor: "rgb(75, 192, 192)",
                    lineTension: 0.1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0
                        }
                    }]
                }
            }
        })
    </script>
}